---
import type { loadRenderers } from "astro:container";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col w-full h-full bg-primary-500 items-center justify-center">
		<span class="text-heading-5 text-white text-center font-bold max-w-2xl">Há 50 anos reimaginando vidas.</span>
	</div>
</Layout>
