---
import Layout from "../layouts/Layout.astro";
import Select from 'primevue/select';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import MenuComponent from "@/components/vue/MenuComponent.vue";
import { ref } from "vue";

const modes = ref([
	{ name: 'Locação', code: 'LO' },
	{ name: 'Compra', code: 'CA' },
]);

// Variável para o v-model do Select
const selectMode = ref("LO");
---

<Layout>
	<div class="flex w-full h-[calc(100vh-90px)] bg-primary-500 justify-center overflow-hidden">
		<div class="flex flex-col w-full h-full items-center z-20 justify-between py-8 px-container">
			<MenuComponent />
			<div class="flex flex-col w-full justify-center items-center h-full">
				<span class="text-heading-5 text-white text-center font-bold max-w-2xl">
					Há 50 anos reimaginando vidas.
				</span>
			</div>
			<div class="flex flex-col md:flex-row w-full gap-2 md:gap-8">
				<div class="flex flex-row w-full bg-white rounded-full h-16 overflow-hidden p-1 gap-4">
					<Select
						client:only="vue" 
						v-model="selectMode"
						rounded 
						:options="modes" 
						optionLabel="name"
						class="w-full md:w-80 bg-transparent text-white border-none bg-primary !roundend-full" 
					/>
					<InputText
						placeholder="Buscar imóveis..." 
						class="w-full bg-transparent text-black border-none p-0"  
					/>
				</div>
				<Button
					rounded 
					label="Buscar" 
					severity="primary" 
					class="w-full md:w-80 h-16 rounded-full bg-[#D95E3A] hover:bg-[#C24F32] active:bg-[#C24F32] text-white border-none px-6 py-3 font-bold cursor-pointer ring-offset-2 ring-offset-surface-0 dark:ring-offset-surface-900 ring-primary transition-all"
				/>
			</div>
		</div>
		<div class="absolute z-0 h-[calc(100vh-90px)] w-full">
			<video
				class="object-cover opacity-10 pointer-events-none h-[calc(100vh-90px)] w-full"
				src="/video-home.mp4"
				autoplay
				loop
				muted
				playsinline
			/>
		</div>
	</div>
</Layout>
