---
import '@styles/global.css';
import MenuComponent from '@components/vue/MenuComponent.vue';
import Header from '@components/vue/Header.vue';
import Footer from '@components/vue/Footer.vue';

// Determina se a rota atual é a home
const isHome = Astro.url.pathname === '/';
---
<html lang="pt-br">
  <head>
    <slot name="head" />
  </head>

  <body id="app">
    <Header isHome={isHome}>
      <Fragment slot="menuright">
        <MenuComponent client:load />
      </Fragment>
    </Header>

    <main>
      <slot />
    </main>

    <Footer client:load />
  </body>
</html>
