---
import '@styles/global.css';
import Footer from '@components/vue/Footer.vue'
import Header from '@components/vue/Header.vue'
import MenuComponent from '@components/vue/MenuComponent.vue'
---

<html lang="pt-br">
  <head>
    <slot name="head" />
  </head>

  <body id="app">
    <Header>
			<Fragment slot="menuright">
        <MenuComponent client:load />
      </Fragment>
		</Header>

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
